/*----------GERAL------------------------*/
*, *::before, *::after {
    box-sizing: border-box;}
@font-face{
	font-family: Eurostile Black;
	src: url('fonts/eurostile.otf');
}
body {
	font-family: Eurotipe, sans-serif;

	margin: 0;
	font-size: 1.5rem;}
section {
	padding-top: 1em;
}
.container {
	background: #fff;
	padding: 1em;
	max-width: 1100px;
	margin: 0 auto;}
.opacidade {
	background: rgba(255, 255, 255, .8);}
h1, h2, h3, h4 {
	margin: 0;}
h2 + h3{margin: initial;}
.sectTitle {
	font-weight: bolder;
	text-align: center;
	font-size: 32pt;
	color: #072A2D;}
img {
	max-width: 100%;}
.divisoria {
	background: #cecece;
	border: none;
	height: 2px;
	width: 100%;
	margin: 3em auto 0 auto;
	border-radius: 50%;}

#iframe {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 90%;
	max-width: 800px;
	padding: 0;
}

.iframeExib {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	border-color: #23424A;
	border-style: solid;
}
.iframeVoltar {
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
	padding: .6em 1em;
	display: block;
	border-radius: 0;
	border-top: 2px solid #23424A;
	border-left: none;
	border-bottom: none;
	border-right: none;
	font-weight: bolder;
	background: orange;
	text-decoration: underline;
}

/*----------BARRA DE NAVEGAÇÃO------------*/
header {
	font-family: Calibri, sans-serif;
	width: 100%;
	position: fixed;
	background: linear-gradient(to top, #336666, #66cccc 200%);
	z-index: 1;}
/*LOGO*/
.navLogo {
	position: absolute;
	left: 15px;
	top: 15px;

}

/*MENU*/
.navBar {
	padding: .2em 0;
	min-height: 90px;
}
/*Botón de acceso al menu (mobile)*/
.navButtonShow-mobile {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0em;
	border-radius: 50%;
	background: #072A2D;
	color: white;
	transition: opacity 250ms ease;
	position: absolute;
	right: 15px;
	top: 20px;}
.navButtonShow-mobile:focus,
.navButtonShow-mobile:hover {
	opacity: .75;}
.hamburger {
    width: 50%;
    position: relative;}
.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;}
.hamburger::before {
    transform: translateY(-6px);}
.hamburger::after {
    transform: translateY(3px);}
/*Lista de Itenes del menu*/
.navList { /**/
	padding-left: 40%;
	list-style: none;
}
.navListShowed-mobile {
	visibility: visible;
	height: auto;
	list-style: none;
	padding: 2em 0 0 0;
	text-align: center;}
.navList_item {
	margin-top: .3em;}
.navList_itemLink {
	text-decoration: none;
	color: #fff;}
.navList_itemLink:hover,
.navList_itemLink:focus {
	outline: none;
	color: #072A2D;}

/*--------------PRIMEIRA SEÇÃO: APRESENTAÇÃO--------------*/
.topContent {
	margin-top: 2em;
}
.top-fundoText {
	background-image: url('img/layout-medium.png');
	background-repeat: no-repeat;
	background-position: center center;}
.topText {
	text-align: center;
	padding-top: 2em;
	font-family: Eurostile Black, sans-serif;
	font-size: 2.4rem;
	color: #072A2D;
	text-transform: uppercase;
}
.topSubText {
	width: 80%;
	font-size: 1.6rem;
	padding: .5em 0 2em 0;
	color: #222;
}
.topButton {
	display: block;
	margin: 0 auto;
	background: #FFA500;
	color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	border-radius: 50px;
	padding: .8em 1.6em;
	cursor: pointer;
	font-family: Eurostile Black, sans-serif;
	transition: 1s}
.topButton:hover {
	background: #FF8C00;}
.topImage {
	display: none;
	margin: 0;
}


/*---------------SEGUNDA SEÇÃO: SERVIÇOS--------------------*/
.serConteudo {
	margin-top: 1em;
}
.serSub-Titulo {
	font-family: 'Playfair Display', serif;
	color: #136C72;
	text-indent: 1em;
}
.serTexto {
	margin-top: 1em;
	margin-bottom: .5em;
}
.serTexto + .serTexto {
	margin-top: 0;
	margin-bottom: 2em;
}
.serPri_lista {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0 0 2em 0;
}
.serPri_listaItem {
	font-size: 1rem;
	text-align: center;
	color: #444;
}

.portfolioImagem {
	display: block;
	margin: 1em auto 2em auto;
	border: 1px solid black;
}
.serQuali {
	font-family: 'Playfair Display', serif;
	padding: 1em;
	background: #136C72;
	color: #fff;
	text-align: justify;
	border-radius: 5px;
}
.serQuali-head {
	text-align: center;
	margin-bottom: 1.5em;
}
.serQuali-Title {
	font-family: 'Playfair Display', serif;
	margin-top: .5em;
	text-align: center;
}
.serQuali-Text {
	margin: .5em 0;
}

.serQuali-Icon {
	display: block;
	margin: 0 auto;
}

.serQuali-Div + .serQuali-Div {
	margin-top: 2.5em;
}
/*----------------TERCEIRA SEÇÃO: SOBRE MIM-----------------*/
.sobConteudo {

	margin: 0 auto;
	max-width: 500px;
}
.sobText {
	text-align: justify;
}

/*-----------------QUARTA SEÇÃO: CONTATO--------------------*/
.contConteudo {
	margin: 0 auto;
	max-width: 500px;
}
.contLista {
	padding: 0;
}
.contLista_item {
	display: flex;
	align-items: center;
	margin-bottom: .5em;
}
span.contatos {
	font-size: 1.2rem;
	margin-left: .5em;
	font-weight: bold;
}
/*---------------------RODAPÉ-------------------------------*/
footer {
	width: 100%;
	background: linear-gradient(to top, #336666, #66cccc 200%);
	padding: 1em 0;
}
.footerText {
	text-align: center;
	color: #fff;
}




	@media (min-width: 600px) {

	/*------------------GERAL (MAIOR DE 600PX)--------------------*/

	
	/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 600PX)------------*/
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;}
	.navLogo {
		position: static;
		margin-left: .5em;}
	.navBar {
		padding: .2em 1em .2em 0}
	.navButtonShow-mobile {
		display: none;}
	.navListShowed-mobile {
		padding: 0;}
	.navList {
		visibility: visible;
		height: auto;
		display: flex;
		list-style: none;
		justify-content: flex-end;}
	.navList_itemLink {
		transition: .5s;
	}
	.navList_item + .navList_item {
		margin-left: 1em;}

	/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 600PX)-----------------*/
	.topContent {
		margin-left: 2.5em;

	}

	.topText {
		font-size: 2.6rem;
		text-align: left;
	}
	.topSubText {
		margin-top: .2em;
		width: 60%;
	}
	.topButton {
		margin-right: 0;
		margin-left: 2em;
	}
	/*----------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 600PX)-------------------*/
	.serSub-Titulo {
		font-weight: bold;
		text-align: center;
		text-indent: 0;
	}
	.serTexto {
		text-align: justify;
	}
	.serPri_listaItem {
		font-size: 1.5rem;
		color: #666370;
		padding: .1em .2em;
		text-shadow: 1px 1px 1px #888;
	}
	.serQuali-row {
		display: flex;
		justify-content: space-between;
	}
	.serQuali-Div + .serQuali-Div {
		margin-top: 0;
	}
	.serQuali-Div {
		width: 30%;
	}

}


			@media (min-width: 900px) {

			/*------------------GERAL (MAIOR DE 900PX)--------------------*/
			section {
				padding-top: 3em;
			}
			.opacidade {
				background: rgba(255, 255, 255, 1);
			}
			.container {
				padding-left: 2em;
				padding-right: 2em;
			}

			.row {
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: space-between;
			}

			.col + .col {
				margin-left: 2em;
			}

			/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 900PX)-------------*/
			.navBar {
				padding: .2em 2em .2em 0;}
			.navLogo {
				margin-left: 2em;
			}
			.navList_item + .navList_item {
				margin-left: 2em;}
			/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 900PX)-----------*/
			.topContent {
				margin-top: 0;
				margin-left: 3em;
				margin-right: 0;
				margin-bottom: 0;
				align-self: center;
				width: 60%;
			}
			.topSubText {
				color: #999;
				width: 80%;
			}
			.topButton {
				margin-left: 3em;
			}
			.topImage {
				display: initial;
				align-self: center;
				width: 30%;
				margin-left: 1em;
				max-width: 320px;
			}
			/*--------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 900PX)-----------------*/
			.serConteudo {
				margin-top: 2em;
			}
			.ser-colPrinc {
				width: 65%;
			}
			.portfolioImagem {
				margin: 2em auto 0 auto;
			}

			.serQuali {
				width: 35%;
				min-width: 220px;
				max-width: 300px;
				font-size: 1.3rem;
				
			}

			.serQuali-row {
				display: block;
			}
			.serQuali-Div {
				width: 100%;
			}
			.serQuali-Div + .serQuali-Div {
				margin-top: 2.5em;
			}


					@media (min-width: 1250px) {
					body {
						background: #efefef;
					}
					.container {
						box-shadow: inset 0 0 10px #777777;
						padding-left: 3em;
						padding-bottom: 3em;
						padding-right: 3em;
					}
					}