/*
========================================================================
                              FOOTER AREA
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

footer {
    background: linear-gradient(to top, #336666, #66cccc 200%);
    padding: 1em 0;
}

.contacts_container {
    margin: 0 auto;
    max-width: 500px;
}

#contacts .title {
    color: #ffff;
}

#contacts .list {
    padding: 0;
}

#contacts .list .item {
    display: flex;
    align-items: center;
}

#contacts .list .item + .item {
    margin-top: 0.5em;
}

#contacts .list .item .contact_data {
    font-size: 1.2rem;
    margin-left: 0.5em;
    font-weight: bold;
    color: #fff;
}

.footer_text {
    text-align: center;
    font-size: 1rem;
    color: #ddd;
}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    .footer_text {
        margin-top: 3em;
    }
    
}
