/*GLOBAL*/
html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: Eurostile Bold;
    src: url('fonts/EurostileBold.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    font-size: 1.4rem;
}

section {
    padding: 1em 0 0 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
.sectTitle {
    font-family: Eurostile Bold, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #072a2d;
    /* color: #292b2c; */
}
img {
    max-width: 100%;
}
.divisoria {
    background: #cecece;
    border: none;
    height: 2px;
    width: 100%;
    margin: 2em auto 1em auto;
    border-radius: 50%;
}
#iframeDiv {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
}
.iframeExib {
    width: 100%;
    height: 500px;
    border: 2px solid #23424a;
}
button.closeIframe {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 0.6em 1em;
    display: block;
    border-top: 2px solid #23424a;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-weight: bolder;
    background: orange;
}
button.closeIframe:hover,
button.closeIframe:focus {
    outline: none;
    text-decoration: underline;
}

@media (min-width: 900px) {
    /*0-----------600-----900xxxxx
	GLOBAL*/
    section {
        padding: 2em 0 0 0;
    }
    .container {
        padding: 1em 2em;
    }
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col + .col {
        margin-left: 2em;
    }
}

/*NAV-BAR*/
header {
    font-family: Calibri, sans-serif;
    width: 100%;
    position: fixed;
    background: linear-gradient(to top, #336666, #66cccc 200%);
    z-index: 3;
}
.navBar {
    padding: 0.2em 0;
    min-height: 90px;
}

.navLogo {
    position: absolute;
    top: 0.55em;
    left: 0.6em;
}
.navList {
    list-style: none;
    margin: 1em 0 0 40%;
    padding: 0;
}
.navList_item + .navList_item {
    margin: 0.3em 0 0 0;
}
.navList_itemLink {
    text-decoration: none;
    color: #fff;
}
.navList_itemLink:hover,
.navList_itemLink:focus {
    outline: none;
    text-decoration: underline;
}

.navButtonShow-mobile {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 15px;
    top: 20px;
}
.navButtonShow-mobile:focus,
.navButtonShow-mobile:hover {
    opacity: 0.75;
}
.hamburger {
    width: 50%;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}
.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}

@media (min-width: 600px) {
    /*NAV-BAR*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navLogo {
        position: static;
        margin-left: 0.6em;
    }
    .navButtonShow-mobile {
        display: none;
    }
    .navList {
        visibility: visible;
        margin: 1em 1em 1em 0;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .navList_item + .navList_item {
        margin: 0 0 0 1em;
    }
}

@media (min-width: 900px) {
    /*NAV-BAR*/
    .navList {
        margin: 1em 2em 1em 0;
    }
    .navLogo {
        margin-left: 1.6em;
    }
    .navList_item + .navList_item {
        margin: 0 0 0 2em;
    }
}

/*HEAD-SECTION*/
section#main {
    padding: 5em 0 0 0;
}
.top-fundoText {
    background-image: url('../img/layout-medium.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.opacidade {
    background: rgba(255, 255, 255, 0.8);
}
.TopOla {
    font-size: 1.5rem;
    /* color: #072a2d; */
    color: #292b2c;
}
.topText {
    font-family: Eurostile Bold, Courier;
    font-size: 2.4rem;
    color: #072a2d;
    /* color: #292b2c; */
    text-transform: uppercase;
}
.topSubText {
    width: 80%;
    font-size: 1.6rem;
    padding: 0.5em 0 2em 0;
    color: #42494a;
}
.topButton {
    display: block;
    margin: 0 auto;
    background: #ffa500;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.6em 0.8em;
    cursor: pointer;
    font-family: Eurostile Bold, sans-serif;
}
.topButton:hover,
.topButton:focus {
    outline: none;
    opacity: 0.8;
}
.topImage {
    display: none;
    margin: 0;
}

@media (min-width: 600px) {
    /*0-----------600xxxxx900xxxxx
	HEAD-SECTION*/
    .topElements {
        margin: 0 auto;
        max-width: 600px;
    }
    .topText {
        font-size: 2.6rem;
        text-align: left;
    }
    .topSubText {
        margin-top: 0.2em;
        width: 60%;
    }
    .topButton {
        margin-right: 0;
        margin-left: 2em;
    }
}

@media (min-width: 900px) {
    /*0-----------600-----900xxxxx
	HEAD-SECTION*/
    .topElements {
        max-width: none;
    }
    .opacidade {
        background: rgba(255, 255, 255, 1);
    }
    .topContent {
        width: 60%;
        align-self: center;
    }
    .topSubText {
        color: #999;
        width: 80%;
    }
    .topButton {
        margin-left: 3em;
    }
    .topImage {
        display: block;
        align-self: center;
        width: 30%;
        height: 30%;
        margin-left: 1em;
        max-width: 320px;
        padding: 0;
    }
}

/*SERVICES*/

.serConteudo {
    margin: 0 auto;
    max-width: 600px;
}
.serSub-Titulo {
    font-family: Eurostile Bold, serif;
    color: darkorange;
    text-align: center;
}
.serTexto {
    text-align: justify;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
#specs {
    margin-top: 2em;
}
#portfolio {
    margin-top: 3em;
}
.cardContainer {
    margin-bottom: 2em;
    margin-top: 1.5em;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background:rgb(82, 75, 75);*/
    background-color: rgba(2, 51, 65, 0.575);
    padding: 0.5em 0.5em 1em 0.5em;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-height: 340px;
}

.card + .card {
    margin-top: 1em;
}

.card h5 {
    margin: 1em 0 0 0;
}
.card p {
    color: rgba(255, 255, 255, 0.76);
    margin: 0.5em 0 1em 0;
    font-size: 1rem;
}
.card button {
    background-color: orange;
    border: none;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-family: 'Eurostile Bold';
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.card button:hover,
.card button:focus {
    outline: none;
    opacity: 0.8;
}
.serQuali {
    font-size: 1.3rem;
    padding: 1em;
    background: #136c72;
    color: #fff;
    text-align: justify;
    border-radius: 5px;
    max-width: 350px;
    margin: 0 auto;
}

.serQuali-Div + .serQuali-Div {
    margin: 2.5em 0 0 0;
}

.serQuali-head {
    font-family: Eurostile Bold, sans-serif;
    text-align: center;
    margin-bottom: 1.5em;
}
.serQuali-Title {
    margin-top: 0.5em;
    text-align: center;
}
.serQuali-Text {
    margin: 0.5em 0;
}

.serQuali-Icon {
    display: block;
    margin: 0 auto;
}

@media (min-width: 600px) {
    /*0-----------600xxxxx900xxxxx
	SERVICES*/
    .cardContainer {
        display: flex;
        justify-content: space-between;
        max-width: none;
    }
    .card {
        width: 48%;
    }

    .card + .card {
        margin-top: 0;
    }

    .serQuali {
        max-width: none;
        margin: 0;
    }

    .serQuali-row {
        display: flex;
        justify-content: space-between;
    }
    .serQuali-Div + .serQuali-Div {
        margin: 0;
    }
    .serQuali-Div {
        width: 30%;
    }
}

@media (min-width: 900px) {
    /*0-----------600-----900xxxxx
	SERVICES*/
    .serConteudo {
        max-width: none;
    }
    .ser-colPrinc {
        width: 65%;
    }
    .serQuali {
        width: 35%;
        min-width: 220px;
        max-width: 300px;
    }
    .serQuali-row {
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }
    .serQuali-Div {
        width: 100%;
    }
    .serQuali-Div + .serQuali-Div {
        margin: 2.5em 0 0 0;
    }
}

/* PORTFOLIO*/

/*KNOWLEDGES*/
.knowledgeGrid {
    display: grid;
    grid-auto-rows: 130px;
    margin: 2em auto 0 auto;
    border-radius: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 420px;
    padding: 10px;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px;
}
.gridItem:hover {
    box-shadow: 3px 3px 10px #555;
    transition: 0.5s;
}

.gridItem-1 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.gridItem-2 {
    grid-column-start: 5;
    grid-column-end: 9;
}
.gridItem-3 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.gridItem-4 {
    grid-column-start: 5;
    grid-column-end: 9;
}
.gridItem-5 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.gridItem-6 {
    grid-column-start: 5;
    grid-column-end: 9;
}
.gridItem-7 {
    grid-column-start: 1;
    grid-column-end: 5;
}
.gridItem-8 {
    grid-column-start: 5;
    grid-column-end: 9;
}

.gridIcons {
    display: block;
    height: 80px;
    margin: 0 auto;
}
.knowledgeText {
    margin-top: 0.5em;
    text-align: center;
    color: #072a2d;
}

@media (min-width: 600px) {
    /*KNOWLEDGES*/
    .knowledgeGrid {
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        max-width: 600px;
        padding: 0;
    }
    .gridItem {
        background-color: #ececec;
    }
    .gridItem-1 {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .gridItem-2 {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    .gridItem-3 {
        grid-column-start: 9;
        grid-column-end: 13;
    }
    .gridItem-4 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .gridItem-5 {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    .gridItem-6 {
        grid-column-start: 9;
        grid-column-end: 13;
    }
    .gridItem-7 {
        grid-column-start: 3;
        grid-column-end: 7;
    }
    .gridItem-8 {
        position: relative;
        grid-column-start: 7;
        grid-column-end: 11;
    }

    #git_icon,
    #git_icon_text {
        z-index: 1;
    }

    #background_for_git_icon {
        position: absolute;
        display: block;
        border-radius: 8px;
        height: 57px;
        width: 57px;
        left: 50%;
        top: 18px;
        transform: translateX(-50%) rotate(45deg);
        background-color: #fff;
    }
}

@media (min-width: 900px) {
    /*0-----------600-----900xxxxx
	KNOWLEDGES*/
    .knowledgeGrid {
        grid-auto-rows: 150px;
        max-width: 800px;
    }
    .gridItem {
        padding: 15px;
    }
    #background_for_git_icon {
        top: 27px;
    }
}

/*ABOUT-ME*/

.sobConteudo {
    margin: 0 auto;
    max-width: 600px;
}

.sobConteudo img {
    display: block;
    margin: 0 auto 1em auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(82, 75, 75);
}
.sobText {
    text-align: justify;
    margin-top: 1em;
}

@media (min-width: 900px) {
    /*0-----------600-----900xxxxx
	ABOUT-ME*/
    .sobConteudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        margin: 0;
    }

    .sobConteudo img {
        margin: 0;
    }
    .sobConteudo div {
        margin-left: 1.5em;
        max-width: 600px;
    }
}

/*FOOTER/CONTACTS*/

footer {
    width: 100%;
    background: linear-gradient(to top, #336666, #66cccc 200%);
}

.sectTitle_contacts {
    font-family: Eurostile Bold, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #ffff;
}

.contConteudo {
    margin: 0 auto;
    max-width: 500px;
}

.contLista {
    padding: 0;
}

.contLista_item {
    display: flex;
    align-items: center;
}

.contLista_item + .contLista_item {
    margin-top: 0.5em;
}

span.contatos {
    font-size: 1.2rem;
    margin-left: 0.5em;
    font-weight: bold;
    color: #fff;
}

.footerText {
    text-align: center;
    font-size: 1rem;
    color: #ddd;
}

@media (min-width: 600px) {
    .footerText {
        margin-top: 3em;
    }
}
