/*
========================================================================
                            GLOBAL ELEMENTS
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Eurostile Bold;
    src: url('fonts/EurostileBold.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

section {
    padding: 1em 0 0 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.section_title {
    font-family: Eurostile Bold, sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #072a2d;
    /* color: #292b2c; */
}

.pure_text {
    text-indent: 1.5em;
    margin-top: 1em;
    margin-bottom: 0;
}

.section_divider {
    background: #cecece;
    border: none;
    height: 2px;
    width: 100%;
    margin: 2em auto 1em auto;
    border-radius: 50%;
}

#iframeDiv {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1000px;
}
.iframeExib {
    width: 100%;
    height: 500px;
    border: 2px solid #23424a;
}
button.closeIframe {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    padding: 0.6em 1em;
    display: block;
    border-top: 2px solid #23424a;
    border-left: none;
    border-bottom: none;
    border-right: none;
    font-weight: bolder;
    background: orange;
}
button.closeIframe:hover,
button.closeIframe:focus {
    outline: none;
    text-decoration: underline;
}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 900px) {

    section {
        padding: 2em 0 0 0;
    }

    .container {
        padding: 0 2em;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .col + .col {
        margin-left: 2em;
    }
}
