/*
========================================================================
                            NAVIGATION HEADER
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

header#nav {
    font-family: Calibri, sans-serif;
    width: 100%;
    position: fixed;
    background: linear-gradient(to top, #336666, #66cccc 200%);
    z-index: 3;
}

#nav .nav_bar {
    padding: 0.2em 0;
    min-height: 90px;
}

#nav .logo {
    position: absolute;
    top: 0.55em;
    left: 0.6em;
}

#nav .nav_bar .nav_list {
    list-style: none;
    margin: 1em 0 0 40%;
    padding: 0;
}

.nav_list .item + .item {
    margin: 0.3em 0 0 0;
}

.nav_list .item .link {
    text-decoration: none;
    color: #fff;
}

.nav_list .item .link:hover,
.nav_list .item .link:focus {
    outline: none;
    text-decoration: underline;
}

#nav .nav_bar .toggle_nav_button {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 15px;
    top: 20px;
}

#nav .nav_bar .toggle_nav_button:focus,
#nav .nav_bar .toggle_nav_button:hover {
    opacity: 0.75;
}

.toggle_nav_button .hamburger {
    width: 50%;
    position: relative;
}

.toggle_nav_button .hamburger,
.toggle_nav_button .hamburger::before,
.toggle_nav_button .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.toggle_nav_button .hamburger::before,
.toggle_nav_button .hamburger::after {
    content: '';
    width: 100%;
}

.toggle_nav_button .hamburger::before {
    transform: translateY(-6px);
}

.toggle_nav_button .hamburger::after {
    transform: translateY(3px);
}


/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    header#nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav .logo {
        position: static;
        margin-left: 0.6em;
    }

    #nav .nav_bar .nav_list {
        visibility: visible;
        margin: 1em 1em 1em 0;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }

    .nav_list .item + .item {
        margin: 0 0 0 1em;
    }

    #nav .nav_bar .toggle_nav_button {
        display: none;
    }

}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 900px) {

    #nav .nav_bar .nav_list {
        margin: 1em 2em 1em 0;
    }

    #nav .logo {
        margin-left: 1.6em;
    }

    .nav_list .item + .item {
        margin: 0 0 0 2em;
    }

}
