/*
========================================================================
                        KNOWLEDGES SECTION
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

.knowledge_grid {
    display: grid;
    grid-auto-rows: 130px;
    margin: 2em auto 0 auto;
    border-radius: 5px;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 420px;
    padding: 10px;
}

.knowledge_grid .knowledge_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 10px;
}

.knowledge_grid .knowledge_card:hover {
    box-shadow: 3px 3px 10px #555;
    transition: 0.5s;
}

.knowledge_grid .knowledge_card:first-of-type {
    grid-column-start: 1;
    grid-column-end: 5;
}

.knowledge_grid .knowledge_card:nth-of-type(2) {
    grid-column-start: 5;
    grid-column-end: 9;
}

.knowledge_grid .knowledge_card:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.knowledge_grid .knowledge_card:nth-of-type(4) {
    grid-column-start: 5;
    grid-column-end: 9;
}

.knowledge_grid .knowledge_card:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.knowledge_grid .knowledge_card:nth-of-type(6) {
    grid-column-start: 5;
    grid-column-end: 9;
}

.knowledge_grid .knowledge_card:nth-of-type(7) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.knowledge_grid .knowledge_card:nth-of-type(8) {
    grid-column-start: 5;
    grid-column-end: 9;
}

.knowledge_card .card_icon {
    display: block;
    height: 80px;
    margin: 0 auto;
}

.knowledge_card .card_label {
    margin-top: 0.5em;
    text-align: center;
    color: #072a2d;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    .knowledge_grid {
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        max-width: 600px;
        padding: 0;
    }

    .knowledge_grid .knowledge_card {
        background-color: #ececec;
    }

    .knowledge_grid .knowledge_card:first-of-type {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .knowledge_grid .knowledge_card:nth-of-type(2) {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    .knowledge_grid .knowledge_card:nth-of-type(3) {
        grid-column-start: 9;
        grid-column-end: 13;
    }

    .knowledge_grid .knowledge_card:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .knowledge_grid .knowledge_card:nth-of-type(5) {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    .knowledge_grid .knowledge_card:nth-of-type(6) {
        grid-column-start: 9;
        grid-column-end: 13;
    }

    .knowledge_grid .knowledge_card:nth-of-type(7) {
        grid-column-start: 3;
        grid-column-end: 7;
    }

    .knowledge_grid .knowledge_card:nth-of-type(8) {
        position: relative;
        grid-column-start: 7;
        grid-column-end: 11;
    }

    #git_icon,
    #git_label {
        z-index: 1;
    }

    #background_for_git_icon {
        position: absolute;
        display: block;
        border-radius: 8px;
        height: 57px;
        width: 57px;
        left: 50%;
        top: 18px;
        transform: translateX(-50%) rotate(45deg);
        background-color: #fff;
    }

}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 900px) {

    .knowledge_grid {
        grid-auto-rows: 150px;
        max-width: 800px;
    }

    .knowledge_grid .knowledge_card {
        padding: 15px;
    }

    #background_for_git_icon {
        top: 27px;
    }

}
