/*
====================================================================
                            MAIN SECTION
====================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

section#main {
    padding: 5em 0 0 0;
}

#main .background_image {
    background-image: url('../img/layout-medium.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#main .background_opacity {
    background-color: rgba(255, 255, 255, 0.8);
}

#main .minor_title {
    font-size: 1.5rem;
    /* color: #072a2d; */
    color: #292b2c;
}

#main .title {
    font-family: Eurostile Bold, Courier;
    font-size: 2.4rem;
    color: #072a2d;
    /* color: #292b2c; */
    text-transform: uppercase;
}

#main .subtitle {
    width: 80%;
    font-size: 1.6rem;
    padding: 0.5em 0 2em 0;
    color: #42494a;
}

#main .modal_button {
    display: block;
    margin: 0 auto;
    background: #ffa500;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.6em 0.8em;
    cursor: pointer;
    font-family: Eurostile Bold, sans-serif;
}

#main .modal_button:hover,
#main .modal_button:focus {
    outline: none;
    opacity: 0.8;
}

#main .figure_col {
    display: none;
    margin: 0;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    .main_section_container {
        margin: 0 auto;
        max-width: 600px;
    }

    #main .title {
        font-size: 2.6rem;
        text-align: left;
    }

    #main .subtitle {
        margin-top: 0.2em;
        width: 60%;
    }

    #main .modal_button {
        margin-right: 0;
        margin-left: 2em;
    }

}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 900px) {

    .main_section_container {
        margin: 0;
        max-width: none;
    }

    #main .background_image {
        background-image: none;
    }

    #main .background_opacity {
        background-color: transparent;
    }

    #main .main_col {
        width: 60%;
        align-self: center;
    }

    #main .subtitle {
        color: #999;
        width: 80%;
    }

    #main .modal_button {
        margin-left: 3em;
    }

    #main .figure_col {
        display: flex;
        align-items: center;
        align-self: center;
        width: 30%;
        max-width: 320px;
    }

}
