@media (max-width: 599px) {
	/*BARRA DE NAVEGAÇÃO*/
	.navButtonShow-mobile {
		cursor: pointer;
		border: 0;
		width: 3em;
		height: 3em;
		padding: 0em;
		border-radius: 50%;
		background: #072A2D;
		color: white;
		transition: opacity 250ms ease;
		position: absolute;
		right: 15px;
		top: 20px;
	}
	.navButtonShow-mobile:focus,
	.navButtonShow-mobile:hover {
		opacity: .75;
	}
	.hamburger {
	    width: 50%;
	    position: relative;
	}
	.hamburger,
	.hamburger::before,
	.hamburger::after {
	    display: block;
	    margin: 0 auto;
	    height: 3px;
	    background: white;
	}
	.hamburger::before,
	.hamburger::after {
	    content: '';
	    width: 100%;
	}
	.hamburger::before {
	    transform: translateY(-6px);
	}
	.hamburger::after {
	    transform: translateY(3px);
	}
	.navLogo {
		position: absolute;
		top: .55em;
		left: .6em;
	}
	.navList {
		margin: 1em 0;
		margin-left: 40%;s
		/*visibilidade escondida por meio do script*/
	}
	.navList_item + .navList_item {
		margin: .3em 0 0 0;
	}
	/*SERVIÇOS*/
	.serPri_listaItem {
		font-size: 1rem;
	}
	.serQuali {
		max-width: 350px;
		margin: 0 auto;
	}
	.serQuali-Div + .serQuali-Div {
		margin: 2.5em 0 0 0;
	}
	/*KNOWLEDGES*/
	.knowledgeGrid {
		grid-template-columns: repeat(8,1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		padding: 10px;
	}
	.gridItem-1 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.gridItem-2 {
		grid-column-start: 5;
		grid-column-end: 9;
	}
	.gridItem-3 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.gridItem-4 {
		grid-column-start: 5;
		grid-column-end: 9;
	}
	.gridItem-5 {
		grid-column-start: 3;
		grid-column-end: 7;
	}
}

@media (max-width: 899px) {
	/*GERAL*/
	section {
		padding: 1em 0 0 0;
	}
	.container {
		padding: 1em;
	}
	/*OLÁ! EU SOU PEDRO AREVALO*/
	.opacidade {
	background: rgba(255, 255, 255, .8);
}
	/*SERVIÇOS*/
	.serConteudo {
		max-width: 600px;
	}
	.portfolioImagem {
		margin: 1em auto 2em auto;
	}
	/*KNOWLEDGES*/
	.knowledgeGrid {
		max-width: 600px;
	}
}

	@media (min-width: 600px) {

	/*------------------GERAL (MAIOR DE 600PX)--------------------*/

	
	/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 600PX)------------*/
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navLogo {
		position: static;
		margin-left: .6em;;
	}
	.navButtonShow-mobile {
		display: none;}
	.navList {
		visibility: visible;
		margin: 1em 1em 1em 0;
		height: auto;
		display: flex;
		justify-content: flex-end;
	}
	.navList_item + .navList_item {
		margin: 0 0 0 1em;
	}

	/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 600PX)-----------------*/

	.topText {
		font-size: 2.6rem;
		text-align: left;
	}
	.topSubText {
		margin-top: .2em;
		width: 60%;
	}
	.topButton {
		margin-right: 0;
		margin-left: 2em;
	}
	/*----------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 600PX)-------------------*/

	.serPri_listaItem {
		font-size: 1.5rem;
	}
	.serQuali-row {
		display: flex;
		justify-content: space-between;
	}
	.serQuali-Div + .serQuali-Div {
		margin: 0;
	}
	.serQuali-Div {
		width: 30%;
	}
	/*KNOWLEDGES*/
	.knowledgeGrid {
		grid-template-columns: repeat(12,1fr);
		grid-row-gap: 40px;
		background: #d2d2cb;
		grid-column-gap: 20px;
		padding: 20px;
	}
	.gridItem-1 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.gridItem-2 {
		grid-column-start: 5;
		grid-column-end: 9;
	}
	.gridItem-3 {
		grid-column-start: 9;
		grid-column-end: 13;
	}
	.gridItem-4 {
		grid-column-start: 3;
		grid-column-end: 7;
	}
	.gridItem-5 {
		grid-column-start: 7;
		grid-column-end: 11;
	}
}


			@media (min-width: 900px) {

			/*------------------GERAL (MAIOR DE 900PX)--------------------*/
			section {
				padding: 3em 0 0 0;
			}
			.container {
				padding: 1em 2em;
			}
			.row {
				display: flex;
				justify-content: space-between;
				align-items: stretch;
			}

			.col + .col {
				margin-left: 2em;
			}

			/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 900PX)-------------*/
			.navList {
				margin: 1em 2em 1em 0;
			}
			.navLogo {
				margin-left: 1.6em;
			}
			.navList_item + .navList_item {
				margin: 0 0 0 2em;
			}
			/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 900PX)-----------*/
			.topContent {
				width: 60%;
				align-self: center;
			}
			.topSubText {
				color: #999;
				width: 80%;
			}
			.topButton {
				margin-left: 3em;
			}
			.topImage {
				display: block;
				align-self: center;
				width: 30%;
				height: 30%;
				margin-left: 1em;
				max-width: 320px;
				padding: 0;
			}
			/*--------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 900PX)-----------------*/
			.serConteudo {
				margin-top: 2em;
			}
			.ser-colPrinc {
				width: 65%;
			}
			.portfolioImagem {
				margin: 2em auto 0 auto;
			}

			.serQuali {
				width: 35%;
				min-width: 220px;
				max-width: 300px;
			}

			.serQuali-row {
				flex-direction: column;
				justify-content: space-around;
				height: 90%;
			}
			.serQuali-Div {
				width: 100%;
			}
			.serQuali-Div + .serQuali-Div {
				margin: 2.5em 0 0 0;
			}
			/*KNOWLEDGES*/
		}