@media (max-width: 599px) {
	.serQuali {
		max-width: 350px;
		margin: 0 auto;
	}
}

@media (max-width: 900px) {
	section {
		padding: 1em 0 0 0;
	}
	.opacidade {
		background: rgba(255, 255, 255, .8);
	}
	.container {
		padding: 1em;
	}
	.serConteudo {
		max-width: 600px;
	}
}