/*
========================================================================
                            PORTFOLIO SECTION
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

#portfolio .card_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 350px;
    margin: 2em auto;
}

.card_container .card {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color: #093338d3;
    padding: .7em;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    /* min-height: 340px; */
}

.card_container .card:first-of-type,
.card_container .card:nth-of-type(2),
.card_container .card:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 9;
}

.card .card_spec .screenshot {
    border-radius: 5px;
}

.card .card_spec .title {
    margin: .5em 0 0 0;
}

.card .card_spec .text {
    color: rgba(255, 255, 255, 0.76);
    margin: 0.5em 0;
    font-size: 1rem;
}

.card .card_button {
    background-color: orange;
    border: none;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-family: 'Eurostile Bold';
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.card .card_button:hover,
.card .card_button:focus {
    outline: none;
    opacity: 0.8;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    #portfolio .card_container .card + .card {
        margin-top: 0;
    }

}