/*
========================================================================
                            PORTFOLIO SECTION
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

#portfolio .card_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 350px;
    margin: 2em auto;
}

.card_container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(9, 51, 56, 0.8);
    padding: .7em;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.card_container .card:first-of-type,
.card_container .card:nth-of-type(2),
.card_container .card:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 9;
}

.card .card_spec .screenshot {
    border-radius: 5px;
}

.card .card_spec .title {
    margin: .5em 0 0 0;
}

.card .card_spec .text {
    color: rgba(255, 255, 255, 0.76);
    margin: 0.5em 0;
    font-size: 1rem;
}

.card .card_button:hover,
.card .card_button:focus {
    outline: none;
    opacity: 0.8;
}

.card .button_group {
    display: flex;
    justify-content: center;

}

.button_group a {
    display: flex;
    align-items: center;
    background-color: rgb(33, 135, 153);
    text-decoration: none;
    padding: .2em;
    border-radius: 2px;
    color: #fff;
}

.button_group button {
    background-color: orange;
    border: none;
    padding: .5em;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-left: .7em;
    cursor: pointer;
}

.button_group span {
    font-weight: bold;
    margin-left: .5em;
    font-size: .8rem;
}
/* ========================== */
.action_buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.action_buttons .button {
    display: flex;
    align-items: center;
    padding: .5em;
    font-weight: bold;
    font-size: .8rem;
    border-radius: 2px;
}

.action_buttons .button + .button{
    margin-left: .5em;
}

.action_buttons a.access_link {
    text-decoration: none;
    background-color: rgb(33, 135, 153);
    color: #fff;
}

.action_buttons button.full_screen {
    background-color: orange;
    border: none;
    cursor: pointer;
}

a.access_link .label,
button.full_screen .label {
    margin-left: .5em;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {
    #portfolio .card_container {
        max-width: 600px;
    }
    .card_container .card:first-of-type {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .card_container .card:nth-of-type(2) {
        grid-column-start: 5;
        grid-column-end: 9;
    }
    .card_container .card:nth-of-type(3) {
        grid-column-start: 3;
        grid-column-end: 7;
    }

}

@media (min-width: 900px) {
    #portfolio .card_container {
        max-width: 800px;
    }
}