/*
========================================================================
                            PORTFOLIO SECTION
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

#portfolio .card_container {
    margin: 2em auto;
    max-width: 300px;
}

#portfolio .card_container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(2, 51, 65, 0.575);
    padding: 0.5em 0.5em 1em 0.5em;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    min-height: 340px;
}

#portfolio .card_container .card + .card {
    margin-top: 1em;
}

.card .card_spec .title {
    margin: 1em 0 0 0;
}

.card .card_spec .text {
    color: rgba(255, 255, 255, 0.76);
    margin: 0.5em 0 1em 0;
    font-size: 1rem;
}

.card .card_button {
    background-color: orange;
    border: none;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-family: 'Eurostile Bold';
    font-size: 1.2rem;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.card .card_button:hover,
.card .card_button:focus {
    outline: none;
    opacity: 0.8;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    #portfolio .card_container {
        display: flex;
        justify-content: space-between;
        max-width: none;
    }

    #portfolio .card_container .card {
        width: 48%;
    }

    #portfolio .card_container .card + .card {
        margin-top: 0;
    }

}