/*
========================================================================
                            SERVICES SECTION
========================================================================
*/

/* -------------------------- ALL SCREENS -------------------------- */

.services_container {
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.3rem;
}

#services .topic_title {
    margin-top: 0.5em;
    font-family: Eurostile Bold, serif;
    color: darkorange;
    text-align: center;
}

#services .subtitle {
    font-family: Eurostile Bold, serif;
    text-indent: 1.2em;
    margin-top: 1em;
    color: #136c72;
}

#services .text {
    text-indent: 1.5em;
    margin-top: 1em;

}

#services .skills_list {
    list-style: square;
    font-size: 1.2rem;
    font-style: italic;
}

.skills_list_item + .skills_list_item {
    margin-top: 0.5em;
}

.qualities_col {
    padding: 1em;
    background: #136c72;
    color: #fff;
    border-radius: 5px;
    max-width: 350px;
    margin: 2em auto 0 auto;
}

.qualities_col .title {
    font-family: Eurostile Bold, sans-serif;
    text-align: center;
    margin-bottom: 1.5em;
}

.qualities_topic + .qualities_topic {
    margin: 2.5em 0 0 0;
}

.qualities_topic_icon {
    display: block;
    margin: 0 auto;
}

.qualities_topic_title {
    margin-top: 0.5em;
    text-align: center;
}
.qualities_topic_text {
    margin: 0.5em 0;
}

/* -------------------- ABOVE 600 PIXESLS WIDE -------------------- */

@media (min-width: 600px) {

    #services .topic_title {
        margin-top: 1.2em;
    }

    #services .subtitle {
        margin-top: 1.2em;
    }

    .qualities_col {
        max-width: none;
        margin: 2em 0 0 0;
    }

    .qualities_flex_container {
        display: flex;
        justify-content: space-between;
    }

    .qualities_topic {
        width: 30%;
    }

    .qualities_topic + .qualities_topic {
        margin: 0;
    }

}

/* -------------------- ABOVE 900 PIXESLS WIDE -------------------- */

@media (min-width: 900px) {

    .services_container {
        max-width: none;
    }

    #services .main_col {
        width: 65%;
    }
    .qualities_col {
        margin-top: 0;
        width: 35%;
        min-width: 220px;
        max-width: 300px;
    }
    .qualities_flex_container {
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
    }
    .qualities_topic {
        width: 100%;
    }
    .qualities_topic + .qualities_topic {
        margin: 2.5em 0 0 0;
    }

}
