/*----------GERAL------------------------*/
*, *::before, *::after {
    box-sizing: border-box;}
@font-face{
	font-family: Eurostile Bold;
	src: url('fonts/EurostileBold.ttf');
}
@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf');
}
::-webkit-scrollbar {
  width: 10px;
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	font-size: 1.5rem;
}
.container {
	max-width: 1250px;
	margin: 0 auto;
}
h1, h2, h3, h4 {
	margin: 0;
}
.sectTitle {
	font-family: Eurostile Bold, sans-serif;
	text-align: center;
	font-size: 2.5rem;
	color: #072A2D;
}
img {
	max-width: 100%;
}
.divisoria {
	background: #cecece;
	border: none;
	height: 2px;
	width: 100%;
	margin: 3em auto 0 auto;
	border-radius: 50%;
}
#iframe {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 90%;
	max-width: 800px;
	padding: 0;
}

.iframeExib {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	border-color: #23424A;
	border-style: solid;
}
.iframeVoltar {
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
	padding: .6em 1em;
	display: block;
	border-radius: 0;
	border-top: 2px solid #23424A;
	border-left: none;
	border-bottom: none;
	border-right: none;
	font-weight: bolder;
	background: orange;
	text-decoration: underline;
}
.iframeVoltar:hover {
	opacity: .8;
}
/*----------BARRA DE NAVEGAÇÃO------------*/
header {
	font-family: Calibri, sans-serif;
	width: 100%;
	position: fixed;
	background: linear-gradient(to top, #336666, #66cccc 200%);
	z-index: 1;
}
/*LOGO*/
.navLogo {
	position: absolute;
	left: 15px;
	top: 15px;

}

/*MENU*/
.navBar {
	padding: .2em 0;
	min-height: 90px;
}

/*Lista de Itenes del menu*/
.navList {
	list-style: none;
	padding: 0;
}

.navList_itemLink {
	text-decoration: none;
	color: #fff;}
.navList_itemLink:hover,
.navList_itemLink:focus {
	outline: none;
	color: #072A2D;
}

/*--------------PRIMEIRA SEÇÃO: APRESENTAÇÃO--------------*/
section#principal {
	padding: 5em 0 0 0;
}
.top-fundoText {
	background-image: url('../img/layout-medium.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.opacidade {
	background: rgba(255, 255, 255, 1);
}
.TopOla {
	font-size: 1.5rem;
	color: #072A2D;
}
.topText {
	font-family: Eurostile Bold, Courier;
	font-size: 2.4rem;
	color: #072A2D;
	text-transform: uppercase;
}
.topSubText {
	width: 80%;
	font-size: 1.6rem;
	padding: .5em 0 2em 0;
	color: #42494a;
}
.topButton {
	display: block;
	margin: 0 auto;
	background: #FFA500;
	color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: .6em .8em;
	cursor: pointer;
	font-family: Eurostile Bold, sans-serif;
}
.topButton:hover {
	opacity: .8;}
.topImage {
	display: none;
	margin: 0;
}


/*---------------SEGUNDA SEÇÃO: SERVIÇOS--------------------*/
.serConteudo {
	margin: 1em auto 0 auto;
}
.serSub-Titulo {
	font-family: Eurostile Bold, serif;
	color: darkorange;
	text-align: center;
}
.serTexto {
	text-align: justify;
	margin-top: 1em;
	margin-bottom: .5em;
}

.serPri_lista {
	margin-top: 2em;
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0 0 2em 0;
}
.serPri_listaItem {
	text-align: center;
	color: #666370;
	text-shadow: 1px 1px 1px #888;
}

.portfolioImagem {
	display: block;
	border: 1px solid black;
}
.serQuali {
	font-family: 'Playfair Display', serif;
	font-size: 1.3rem;
	padding: 1em;
	background: #136C72;
	color: #fff;
	text-align: justify;
	border-radius: 5px;
}
.serQuali-head {
	text-align: center;
	margin-bottom: 1.5em;
}
.serQuali-Title {
	margin-top: .5em;
	text-align: center;
}
.serQuali-Text {
	margin: .5em 0;
}

.serQuali-Icon {
	display: block;
	margin: 0 auto;
}


/*----------------TERCEIRA SEÇÃO: SOBRE MIM-----------------*/
.sobConteudo {
	margin: 0 auto;
	max-width: 500px;
}
.sobText {
	text-align: justify;
	margin-top: 1em;
}

/*-----------------QUARTA SEÇÃO: CONTATO--------------------*/
.contConteudo {
	margin: 0 auto;
	max-width: 500px;
}
.contLista {
	padding: 0;
}
.contLista_item {
	display: flex;
	align-items: center;
	margin-bottom: .5em;
}
span.contatos {
	font-size: 1.2rem;
	margin-left: .5em;
	font-weight: bold;
}
/*---------------------RODAPÉ-------------------------------*/
footer {
	width: 100%;
	background: linear-gradient(to top, #336666, #66cccc 200%);
	padding: 1em 0;
}
.footerText {
	text-align: center;
	color: #fff;
}

	@media (min-width: 600px) {

	/*------------------GERAL (MAIOR DE 600PX)--------------------*/

	
	/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 600PX)------------*/
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navLogo {
		position: static;
		margin-left: .5em;}
	.navButtonShow-mobile {
		display: none;}
	.navList {
		visibility: visible;
		margin: 1em 1em 1em 0;
		height: auto;
		display: flex;
		justify-content: flex-end;
	}
	.navList_item + .navList_item {
		margin: 0 0 0 1em;
	}
	.navList_itemLink {
		transition: .5s;
	}


	/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 600PX)-----------------*/

	.topText {
		font-size: 2.6rem;
		text-align: left;
	}
	.topSubText {
		margin-top: .2em;
		width: 60%;
	}
	.topButton {
		margin-right: 0;
		margin-left: 2em;
	}
	/*----------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 600PX)-------------------*/

	.serPri_listaItem {
		font-size: 1.5rem;
	}
	.serQuali-row {
		display: flex;
		justify-content: space-between;
	}
	.serQuali-Div + .serQuali-Div {
		margin: 0;
	}
	.serQuali-Div {
		width: 30%;
	}

}


			@media (min-width: 900px) {

			/*------------------GERAL (MAIOR DE 900PX)--------------------*/
			section {
				padding: 3em 0 0 0;
			}
			.container {
				padding: 1em 2em;
			}
			.row {
				display: flex;
				justify-content: space-between;
			}

			.col + .col {
				margin-left: 2em;
			}

			/*-------------BARRA DE NAVEGAÇÃO (MAIOR DE 900PX)-------------*/
			.navList {
				margin: 1em 2em 1em 0;
			}
			.navLogo {
				margin-left: 2em;
			}
			.navList_item + .navList_item {
				margin: 0 0 0 2em;
			}
			/*-------------PRIMEIRA SEÇÃO: APRESENTAÇÃO (MAIOR DE 900PX)-----------*/
			.topContent {
				width: 60%;
				align-self: center;
			}
			.topSubText {
				color: #999;
				width: 80%;
			}
			.topButton {
				margin-left: 3em;
			}
			.topImage {
				display: block;
				align-self: center;
				width: 30%;
				height: 30%;
				margin-left: 1em;
				max-width: 320px;
				padding: 0;
			}
			/*--------------SEGUNDA SEÇÃO: SERVIÇOS (MAIOR DE 900PX)-----------------*/
			.serConteudo {
				margin-top: 2em;
			}
			.ser-colPrinc {
				width: 65%;
			}
			.portfolioImagem {
				margin: 2em auto 0 auto;
			}

			.serQuali {
				width: 35%;
				min-width: 220px;
				max-width: 300px;
			}

			.serQuali-row {
				display: block;
			}
			.serQuali-Div {
				width: 100%;
			}
			.serQuali-Div + .serQuali-Div {
				margin: 2.5em 0 0 0;
			}


					/*@media (min-width: 1250px) {
					body {
						background: #efefef;
					}
					.container {
						box-shadow: inset 0 0 10px #777777;
						padding-left: 3em;
						padding-bottom: 3em;
						padding-right: 3em;
					}
					}*/