/*GLOBAL*/
*, *::before, *::after {
  box-sizing: border-box;}
@font-face{
	font-family: Eurostile Bold;
	src: url('fonts/EurostileBold.ttf');
}
@font-face {
	font-family: Roboto;
	src: url('fonts/Roboto-Regular.ttf');
}

body {
	font-family: Roboto, sans-serif;
	margin: 0;
	font-size: 1.5rem;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
h1, h2, h3, h4 {
	margin: 0;
}
.sectTitle {
	font-family: Eurostile Bold, sans-serif;
	text-align: center;
	font-size: 2.5rem;
	color: #072A2D;
}
img {
	max-width: 100%;
}
.divisoria {
	background: #cecece;
	border: none;
	height: 2px;
	width: 100%;
	margin: 2em auto 1em auto;
	border-radius: 50%;
}
#iframe {
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	width: 90%;
	max-width: 800px;
	padding: 0;
}

.iframeExib {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	border-color: #23424A;
	border-style: solid;
}
.iframeVoltar {
	cursor: pointer;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	padding: .6em 1em;
	display: block;
	border-radius: 0;
	border-top: 2px solid #23424A;
	border-left: none;
	border-bottom: none;
	border-right: none;
	font-weight: bolder;
	background: orange;
	text-decoration: underline;
}
.iframeVoltar:hover,
.iframeVoltar:focus {
	outline: none;
	opacity: .8;
}
/*NAV-BAR*/
header {
	font-family: Calibri, sans-serif;
	width: 100%;
	position: fixed;
	background: linear-gradient(to top, #336666, #66cccc 200%);
	z-index: 1;
}
.navBar {
	padding: .2em 0;
	min-height: 90px;
}
.navList {
	list-style: none;
	padding: 0;
}
.navList_itemLink {
	text-decoration: none;
	color: #fff;}
.navList_itemLink:hover,
.navList_itemLink:focus {
	outline: none;
	text-decoration: underline;
}

/*HEAD-SECTION*/
section#principal {
	padding: 5em 0 0 0;
}
.top-fundoText {
	background-image: url('../img/layout-medium.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.opacidade {
	background: rgba(255, 255, 255, 1);
}
.TopOla {
	font-size: 1.5rem;
	color: #072A2D;
}
.topText {
	font-family: Eurostile Bold, Courier;
	font-size: 2.4rem;
	color: #072A2D;
	text-transform: uppercase;
}
.topSubText {
	width: 80%;
	font-size: 1.6rem;
	padding: .5em 0 2em 0;
	color: #42494a;
}
.topButton {
	display: block;
	margin: 0 auto;
	background: #FFA500;
	color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: .6em .8em;
	cursor: pointer;
	font-family: Eurostile Bold, sans-serif;
}
.topButton:hover,
.topButton:focus {
	outline: none;
	opacity: .8;}
.topImage {
	display: none;
	margin: 0;
}

/*SERVICES*/
.serConteudo {
	margin: 1em auto 0 auto;
}
.serSub-Titulo {
	font-family: Eurostile Bold, serif;
	color: darkorange;
	text-align: center;
}
.serTexto {
	text-align: justify;
	margin-top: 1em;
	margin-bottom: .5em;
}
.portfolioImagem {
	display: block;
	border: 1px solid black;
}
.serQuali {
	font-size: 1.3rem;
	padding: 1em;
	background: #136C72;
	color: #fff;
	text-align: justify;
	border-radius: 5px;
}
.serQuali-head {
	font-family: Eurostile Bold, sans-serif;
	text-align: center;
	margin-bottom: 1.5em;
}
.serQuali-Title {
	margin-top: .5em;
	text-align: center;
}
.serQuali-Text {
	margin: .5em 0;
}

.serQuali-Icon {
	display: block;
	margin: 0 auto;
}

/*KNOWLEDGES*/
.knowledgeGrid {
	display: grid;
	grid-auto-rows: 130px;
	margin: 2em auto 0 auto;
	border-radius: 5px;
}
.gridItem {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 5px;
	transition: .5s;
}
.gridItem:hover {
	box-shadow: 3px 3px 10px #555;
	/*background: #fff;*/
}
.gridIcons {
		display: block;
		margin: 0 auto;
	}
.knowledgeText {
	text-align: center;
	font-family: Eurostile Bold, serif;
}

/*ABOUT-ME*/
.sobConteudo {
	margin: 0 auto;
	max-width: 600px;
}
.sobConteudo img {
	display: block;
	margin: 0 auto 1em auto;
}
.sobText {
	text-align: justify;
	margin-top: 1em;
}

/*FOOTER/CONTACTS*/
footer {
	width: 100%;
	background: linear-gradient(to top, #336666, #66cccc 200%);
}
.sectTitle_contacts {
	font-family: Eurostile Bold, sans-serif;
	text-align: center;
	font-size: 2.5rem;
	color: #ffff;
}
.contConteudo {
	margin: 0 auto;
	max-width: 500px;
}
.contLista {
	padding: 0;
}
.contLista_item {
	display: flex;
	align-items: center;
}
span.contatos {
	font-size: 1.2rem;
	margin-left: .5em;
	font-weight: bold;
	color: #fff;
}
.footerText {
	text-align: center;
	font-size: 1rem;
	color: #ddd;
}