@media (min-width: 900px) {
	/*0-----------600-----900xxxxx
	GLOBAL*/
	section {
		padding: 3em 0 0 0;
	}
	.container {
		padding: 1em 2em;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

	.col + .col {
		margin-left: 2em;
	}
	/*0-----------600-----900xxxxx
	NAV-BAR*/
	.navList {
		margin: 1em 2em 1em 0;
	}
	.navLogo {
		margin-left: 1.6em;
	}
	.navList_item + .navList_item {
		margin: 0 0 0 2em;
	}
	/*0-----------600-----900xxxxx
	HEAD-SECTION*/
	.topContent {
		width: 60%;
		align-self: center;
	}
	.topSubText {
		color: #999;
		width: 80%;
	}
	.topButton {
		margin-left: 3em;
	}
	.topImage {
		display: block;
		align-self: center;
		width: 30%;
		height: 30%;
		margin-left: 1em;
		max-width: 320px;
		padding: 0;
	}
	/*0-----------600-----900xxxxx
	SERVICES*/
	.serConteudo {
		margin-top: 2em;
	}
	.ser-colPrinc {
		width: 65%;
	}


	#portfolio {
		display: flex;
		justify-content: space-between;
		margin-top: 1.5em;
	}
	.card {
		width: 48%;
	}








	.serQuali {
		width: 35%;
		min-width: 220px;
		max-width: 300px;
	}
	.serQuali-row {
		flex-direction: column;
		justify-content: space-around;
		height: 90%;
	}
	.serQuali-Div {
		width: 100%;
	}
	.serQuali-Div + .serQuali-Div {
		margin: 2.5em 0 0 0;
	}
	/*0-----------600-----900xxxxx
	KNOWLEDGES*/
	.knowledgeGrid {
		grid-auto-rows: 150px;
		max-width: 800px;
	}
	.gridItem {
		padding: 15px;
	}
	/*0-----------600-----900xxxxx
	ABOUT-ME*/
	.sobConteudo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.sobConteudo div {
		margin-left: 1.5em;
		max-width: 600px;
		
	}
}