@media (max-width: 599px) {
	/*BARRA DE NAVEGAÇÃO*/
	.navButtonShow-mobile {
		cursor: pointer;
		border: 0;
		width: 3em;
		height: 3em;
		padding: 0em;
		border-radius: 50%;
		background: #072A2D;
		color: white;
		transition: opacity 250ms ease;
		position: absolute;
		right: 15px;
		top: 20px;
	}
	.navButtonShow-mobile:focus,
	.navButtonShow-mobile:hover {
		opacity: .75;
	}
	.hamburger {
	    width: 50%;
	    position: relative;
	}
	.hamburger,
	.hamburger::before,
	.hamburger::after {
	    display: block;
	    margin: 0 auto;
	    height: 3px;
	    background: white;
	}
	.hamburger::before,
	.hamburger::after {
	    content: '';
	    width: 100%;
	}
	.hamburger::before {
	    transform: translateY(-6px);
	}
	.hamburger::after {
	    transform: translateY(3px);
	}
	.navLogo {
		position: absolute;
		top: .55em;
		left: .6em;
	}
	.navList {
		margin: 1em 0;
		/*visibilidade escondida por meio do script*/
	}
	.navList_item + .navList_item {
		margin: .3em 0 0 0;
	}
	/*SERVIÇOS*/
	.serPri_listaItem {
		font-size: 1rem;
	}
	.serQuali {
		max-width: 350px;
		margin: 0 auto;
	}
	.serQuali-Div + .serQuali-Div {
		margin: 2.5em 0 0 0;
	}
	/*KNOWLEDGES*/
	.knowledgeGrid {
		grid-template-columns: repeat(8,1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		max-width: 420px;
		padding: 10px;
	}
	.gridItem-1 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.gridItem-2 {
		grid-column-start: 5;
		grid-column-end: 9;
	}
	.gridItem-3 {
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.gridItem-4 {
		grid-column-start: 5;
		grid-column-end: 9;
	}
	.gridItem-5 {
		grid-column-start: 3;
		grid-column-end: 7;
	}
}