@media (max-width: 899px) {
	/*0xxxxxxxxxxx600xxxxx900-----
	GLOBAL*/
	section {
		padding: 1em 0 0 0;
	}
	.container {
		padding: 1em;
	}
	/*0xxxxxxxxxxx600xxxxx900-----
	HEAD-SECTION*/
	.opacidade {
	background: rgba(255, 255, 255, .8);
	}
	/*0xxxxxxxxxxx600xxxxx900-----
	SERVICES*/
	.serConteudo {
		max-width: 600px;
	}
	.cardContainer {
		margin-bottom: 2em;
	}
	/*0xxxxxxxxxxx600xxxxx900-----
	KNOWLEDGES*/
	.gridItem {
		padding: 10px;
	}
	/*0xxxxxxxxxxx600xxxxx900-----
	ABOUT-ME*/
	.sobConteudo {
		margin: 0 auto;
		max-width: 600px;
	}
	.sobConteudo img {
		margin: 0 auto 1em auto;
	}
}